/** CUSTOM CSS  **/
//VARIABLES, INCLUDES and MIXINS

// RETINA BG
@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";

  background-image: url("#{$at1x_path}");

  @media all and (-webkit-min-device-pixel-ratio : 1.5),
         all and (-o-min-device-pixel-ratio: 3/2),
         all and (min--moz-device-pixel-ratio: 1.5),
         all and (min-device-pixel-ratio: 1.5) {
           background-image: url("#{$at2x_path}");
           background-size: $w $h;
  }
}

//TRANSITIONS
@mixin main-trans($trans-time) {
-webkit-transition: all $trans-time ease-in-out;
-moz-transition: all $trans-time ease-in-out;
-o-transition: all $trans-time ease-in-out;
transition: all $trans-time ease-in-out;
}


//ANIMATIONS

//FADE IN
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}

// TOSSING
.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-15deg);	
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(-15deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-15deg);	
	}
	50% {
		-webkit-transform: rotate(15deg);
	}
	100% {
		-webkit-transform: rotate(-15deg);	
	}				
}


// HEADER STYLES
header {
    @include at2x('../img/header_bg', jpg, 20px, 35px);
    padding-bottom: 2em;
    border-bottom: 1px solid #eae2c0;
    
    img {display: block;}
        
}

.header-dots {
    @include at2x('../img/header_dots', jpg, 450px, 75px);
    background-repeat: repeat-x;
    height: 75px;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.60);
    -moz-box-shadow:    0px 2px 8px 0px rgba(50, 50, 50, 0.60);
    box-shadow:         0px 2px 8px 0px rgba(50, 50, 50, 0.60);
    margin-bottom: 1.5em;
    
}

// SECTION - PAGE TITLE STYLES

.page-title {
    
    @include at2x('../img/four_leaves', jpg, 248px, 51px);
    background-repeat: no-repeat;
    background-position: center 2em;
    padding-top: 6em;
    
        h1, p {
        color: #d28224;
        margin: 0} 
}

// SECTION - DATE TIME STYLES
.date-time {
     @include at2x('../img/blue_ribbon', jpg, 856px, 338px);
    background-repeat: no-repeat;
    background-position: center center;
    height: 338px;
    padding-top: 1.4em;
    margin-top: 3em;
    
    ul li {
        
        margin-bottom: 1.5em;
       
        h2 {
            color: #83a492;
            margin: 0;
            line-height: 1.3em}
        
        h3 {
            color: #83a492;
            margin: 0;
            line-height: 1.3em;
            font-weight: 400}
    }
    
    a.button {
            background-color: #83a492;
            margin-bottom: .6em;
            
            &:hover{ background-color: #97b5a4;}
        }
        
        a.rsvp {
            color: #c68239;
            padding: .4em 2em;
            display: block;
            @include main-trans(.3s);
            
            &:hover {background-color: white;}
        }
}

.leaf {
    width: 45px;
    height: 129px;
    padding-top: 4em;
    img {display: block;}
}

.left-leaf {
    float: right;
}


// SECTION - DATE TIME ARTWORK (below section)
.blue-decor img {margin: .6em 0 2em 0}


// SECTION - GIFT SECTION
.gift-section {
    h2 {
        color: #b74848;
        margin: 0}
    
    p {
        color: #b74848;
        margin-bottom: 1em;}
}


.gift-boxes {
    color: #769685;
    margin-top: 2em;
    
    .column {
        background-color: #dce3df;
        padding-bottom: 1.5em;
        
        &.boy-margin {margin-top: 3em;}
        
        
        @media #{$medium-up} {
            width: 48%;
            margin-top: 0em !important}
        
    }
    
    p {
        font-size: 1.2rem;
        line-height: 1em;
        color: #769685;
        margin-bottom: 1em;
    }
    
    .sub-text {
        font-style: italic;
        font-size: 16px;
        display: block;
    }
}

.sex {
    height: 62px;
    width: 63px;
    @include at2x('../img/icon_sprite', png, 314px, 62px);
    margin: -1.4em auto 1em auto;
    

    &.girl {background-position: -62px}

}

.sex-names {
    
    height: 73px;
    @include at2x('../img/galsguys', png, 517px, 73px);
    background-repeat: no-repeat;
    margin: 0 auto 1em auto;
    
    &.gals {
        width: 232px;   
    }
    
    &.guys {
        width: 252px;
        background-position: -265px;
    }
}

.gifts {
    text-align: center;
    
    span {
        display: inline-block;
        height: 62px;
        width: 63px;
        @include at2x('../img/icon_sprite', png, 314px, 62px);
        margin: 0 .3em .5em .3em;
        
        &.gift {
         background-position: -125px;   
        }
        
        &.diaper {
         background-position: -188px;   
        }
        
        &.beer {
         background-position: -251px;   
        }
    }
    
}

.reg-links {
    
    margin-top: 2em;
    
        @media #{$medium-up} {
            img {margin-bottom: .5em}
        }
            
    a {
        display: inline-block;
        background-color: #b74848;
        height: 40px;
        width: 150px;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 .4em;
        
        &.target-button {
             @include at2x('../img/target', png, 110px, 23px); 
        }
        
        &.babylist-button {
             @include at2x('../img/babylist', png, 80px, 24px);  
        }
    }
    
        .outline-outward {
        display: inline-block;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        }
        .outline-outward:before {
        content: '';
        position: absolute;
        border: #b74848 solid 2px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: top, right, bottom, left;
        transition-property: top, right, bottom, left;
        }
        .outline-outward:hover:before, .outline-outward:focus:before, .outline-outward:active:before {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        }
}

// SECTION - HOSTESS SECTION

.hostess-section {
    @include at2x('../img/orange_bg', jpg, 485px, 485px);
    padding: 1.4em 0 1.7em 0;
    margin-top: 2em;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.6);
    border-top: 1px solid #de9344;
    border-bottom: 1px solid #de9344;
    position: relative;
    z-index: 2;
    
    h2 {
        color: #fff;
        margin: 0}
    
    p {
        color: #fff;
        margin-bottom: 1em;
        margin-top: -.4em;}
    
    ul {margin: 0}
    
    li {
        color: #d58530;
        font-family: 'Dancing Script', 'Open Sans', sans-serif;
        font-size: 1.8rem;
        background-color: rgba(255, 255, 255, 0.8);
        margin-bottom: .2em}
    
    img {margin-top: 1em}
}

// FOOTER

footer {
    padding: 1em 0 0 0;
    @include at2x('../img/header_bg', jpg, 20px, 35px);
    
    p {
        font-family: 'Dancing Script', 'Open Sans', sans-serif;
        color: #d58530;
        font-size: 1.2em;
        text-align: center;
        line-height: 1em;
        
            span {
                display: block;
                font-family: 'Open Sans', sans-serif;
                font-size: .7em;
            }
    }

}

@keyframes animatedBackground {
			from { background-position: center 0; }
			to { background-position: center 253px; }
		}
		@-webkit-keyframes animatedBackground {
			from { background-position: center 0; }
			to { background-position: center 253px; }
		}
		@-ms-keyframes animatedBackground {
			from { background-position: centercenter 0; }
			to { background-position: center 253px; }
		}
		@-moz-keyframes animatedBackground {
			from { background-position: center 0; }
			to { background-position: center 253px; }
		}
    
    .footer-leaves {
        @include at2x('../img/footer_leaves', png, 441px, 126px);
        height: 253px;
        background-position: 0px 0px;
        background-repeat: repeat-y;
        -webkit-box-shadow: inset 0px 0px 15px 2px #fffbee;
        -moz-box-shadow:    inset 0px 0px 15px 2px #fffbee;
        box-shadow:         inset 0px 0px 15px 2px #fffbee;
        animation: animatedBackground 8s linear infinite;
        -ms-animation: animatedBackground 8s linear infinite;
        -moz-animation: animatedBackground 8s linear infinite;
        -webkit-animation: animatedBackground 8s linear infinite;
    
            @media #{$medium-up} {
                background-size: 882px 253px;}
    }
    
    
        
    





